
* {
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

.body {
  margin: 0;
  padding:0;
  
}
.head_div {
  background-color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

header {
  display: flex;
  padding: 10px 10px 0 10px;
  align-items: baseline;
  justify-content: space-between;
  
}

.act_sec_1 {
  z-index: 3;
  height: 100vh;
  display: inline-flex;
  width: 280px;
  padding: 90px 5px 0 20px;
  justify-content: space-between;
  position: fixed;
  overflow-y: auto;
  
}
.scrollable {
  margin-left: 280px;
}

.act_sec_2 {
  width: 100%;
  overflow-y: auto;
  padding-top:90px;
  padding-right: 10px;
}

.vertical-line {
  width: 3px;
  background-color: #22173497; 
  margin-left: 10px;
}

header h1 {
  font-size: 46px;
  font-weight: bolder;
  margin: 0;
  padding-right: 80px;
}
header li {
  display: inline;
  font-weight: 500;
}
header a {
  text-decoration: none;
  color: #875FC8;
  font-size: 16px;
  padding-right: 40px;
}
header ul {
  margin: 0;
  display: flex;
}
header .user_div {
  color: #875fc8b4;
  font-size: 15px;
}
header strong {
  color: #875FC8;

}

.main_div {
  display: flex;
  align-items: baseline;
}

.horizontal_line {
  margin-top: 0;
  height: 2px;
  background-color: #22173497; 
}

.act_list {
  padding-right: 5px;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  width: 100%;
}
.act_list h2 {
  font-size: 26px;
  margin: 0;
  padding: 0;
  
}

.primary_button {
  background-color: #875FC8;
  color: white;
  font-size: 15;
  padding: 0.375rem 0.75rem;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.login_section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.login-container {  
  padding-top:90px;
  min-width: 440px;
  margin: 80px 10px 10px 10px;
}

.create_container {
  padding: 20px 70px 20px 70px;
}

.login_section label {
  font-size: 15px;
}
.login_section a {
  color: #875FC8;
}
.login-container .primary_button {
  border-radius: 1rem;
  width: 100%;
}
.create_container .primary_button {
  border-radius: 1rem;
  width: 100%;
}

.but_div {
  padding-inline: 2px;
}

.login_section  input {
  border: 1px solid #875FC8;
}
.create_container  input {
  border: 1px solid #875FC8;
}

.list_box {
  display: flex;
  justify-content: space-between;
}

#listing_left .primary_button {
  border-radius: 1.1rem;
  padding-inline: 40px;
  width: 100%;
}
.list_but_div {
  width: 60%;
}

.list_but {
  display: flex;
  justify-content: center;
}

.secondary_button {
  font-weight: 500;
  padding-inline: 40px;
  background-color: white;
  color: #875FC8;
  padding: 0.375rem 0.75rem;
  white-space: nowrap;
  cursor: pointer;
  border: 2px solid #875FC8;
  border-radius: 1rem;
  width: 100%;
}

#bid_form {
  border: 0.5px solid #875FC8;
}

#listing {
  display: flex;
  padding-left: 0;
}

#listing_right {
  z-index: 3;
  width: 30%;
  display: flex;
  height: 100vh;
  padding: 90px 10px 0 10px;
  position: fixed;
  overflow-y: auto;
  margin-left: 70%;
  
}

#listing_left {
  width: 70%;
  padding-inline: 10px;
}

#listing_right .vertical-line {
  margin-right: 10px;
  margin-left: 0;
}

#listing_right .act_list {
  padding: 10px;
}

#comment {
  border: 0.5px solid #875FC8;
}

.cat_select {
  padding-left: 20px;
  width: 50%;
}
.new_cat_select {
  margin-right: 20px;
  width: 50%;
}
#cat_input {
  display: flex;
  align-items: end;
}