{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'auctions/output.css' %}">
    <script src="https://kit.fontawesome.com/ce8eb3d77e.js" crossorigin="anonymous"></script>
    <script src="{% static 'auctions/index.js' %}"></script>

</head>

<body class="w-full">
    <div class="bg-neutral-800 w-full">
        <div class="container mx-auto px-10 text-white ">
            <div class="pt-5 pb-1">
                <header class="flex items-center justify-between mb-4">
                    <h1 class="text-[34px] font-semibold">Auctions</h1>
                    {% block search %}{% endblock %}
                    {% if user.is_authenticated %}
                    <div class="rounded px-[18px] py-[8px] bg-neutral-700 hover:bg-neutral-600 hover:text-neutral-50">
                        <a class="text-[15px]" href="{% url 'auctions:logout' %}">Log out</a>
                    </div>
                    {% else %}
                    <div class="flex  space-x-6">
                        <div class="rounded px-[18px] py-[8px] hover:bg-neutral-600 hover:text-neutral-50">
                            <a class="text-[15px]" href="{% url 'auctions:login' %}">Sign in</a>
                        </div>
                        <div
                            class="rounded text-neutral-900 bg-neutral-50 px-[18px] py-[8px] hover:bg-indigo-600 hover:text-neutral-50">
                            <a class="text-[15px]" href="{% url 'auctions:register' %}">Register</a>
                        </div>
                    </div>
                    {% endif %}


                </header>
                <div class="w-full flex items-center justify-between text-neutral-300">
                    <nav class="">
                        <ul class="flex h-[30px] space-x-12 h-auto">
                            <li class=" hover:border-b-[3px] border-neutral-100 ">
                                <a class="" href="{% url 'auctions:index' %}">Listings</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class=" hover:border-b-[3px] border-neutral-100 ">
                                <a class="" href="{% url 'auctions:create' %}">Add listing</a>
                            </li>
                            <li class=" hover:border-b-[3px] border-neutral-100 ">
                                <a class="" href="{% url 'auctions:watchlist' %}">Watchlists</a>
                            </li>
                            <li class=" hover:border-b-[3px] border-neutral-100 ">
                                <a class="" href="{% url 'auctions:userBidding' %}">Biddings</a>
                            </li>

                            {% endif %}
                        </ul>
                    </nav>
                    <div class="text-[15px]">
                        {% if user.is_authenticated %}
                        <p class="flex">Signed in as
                            <strong class="pl-2 inline-flex">{{ user.username }}</strong>.
                        </p>

                        {% else %}
                        <p>Not signed in.</p>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block body %}
    {% endblock %}
</body>

</html>