{% extends "auctions/layout.html" %}

{% block body %}
<section class="login_section">
    <div class="login-container">
        {% if message %}
        <div class="d-flex justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="width: 100%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endif %}

        <div class="text-center">
            <p>Register an account.</p>
        </div>
        <br>
        <form action="{% url 'auctions:register' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <div class="but_div">
                <button class="primary_button mb-2" type="submit">Register</button>
            </div>
        </form>
        <div class="text-center">
            <p>Already have an account? <a href="{% url 'auctions:login' %}">Log In here</a></p>
        </div>
    </div>
</section>
    

{% endblock %}